<section id="blogs">
  <header>
    <h3><%= link_to(t('blogs.title'), @page_blog.url) %>
    </h3>
  </header>
  <div class="content">
    <% if @blog_posts.any? %>
      <% @blog_posts.each do |post| %>
        <div>
          <%= link_to blog_post_url(post), :class => 'il' do -%>
            <img alt="ilustration" src="/images/content/blogs/<%= post.id %>_t.jpg" />
          <% end %>
          <h4>
            <%= link_to blog_post_url(post) do -%>
              <%= truncate post.title,
                :length => 75,
                :preserve_html_tags => false %>
            <% end %>
          </h4>

          <%= truncate post.body,
            :length => 160,
            :preserve_html_tags => true %>

        </div>
      <% end %>
    <% end %>
  </div>
  <footer>
    <div class="float-left">
      <a href="/blog/feed.rss"><img alt="RSS icon" src="/images/s.gif" class="sprites sprite-icon-rss-32" /> Blog RSS</a>
    </div>
    <div class="float-right">
      <%= link_to(t('blogs.archive_posts'), @page_blog.url) %>
    </div>
    <div class="reset">&#160;</div>
  </footer>
</section>