<section id="projects">
  <h3><%= t('projects.title') %></h3>
  <div class="project-wrapper">
    <article class="project">       
      <h4>
        <a class="todo" href="#todo">
          <%= t('projects.owasp.title') %>
        </a></h4>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/owasp_logo2.jpeg.jpg" alt="OWASP - ilustration" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.owasp.desc') %>
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <h4><a class="todo" href="#todo"><%= t('projects.arduino.title') %></a></h4>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/arduino-1-a.jpeg.jpg" alt="ARDUINO - ilustration" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.arduino.desc') %>
        </p>
      </div>

    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <h4><a class="todo" href="#todo"><%= t('projects.bitcoin.title') %></a></h4>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/bitcoin2.jpeg.jpg" alt="Bitcoin - ilustration" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.bitcoin.desc') %>
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper four">
    <article class="project">
      <h4><a class="todo" href="#todo"><%= t('projects.makak.title') %></a></h4>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/maciatko.jpeg" alt="lorem ipsum ilustration" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.makak.desc') %>

        </p>
      </div>
    </article>
  </div>
  <div class="reset">&nbsp;</div>
</section>