<section id="projects">
  <h3>Aktívne sa venujeme a podielame napriklad na projektoch:</h3>
  <div class="project-wrapper">
    <article class="project">
      <header>
        <a class="todo" href="#todo">
          <h4>
            <%= t('projects.owasp.title') %></h4>
        </a>
      </header>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/owasp_logo2.jpeg.jpg" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.owasp.desc') %>

        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">

      <header>
        <a class="todo" href="#todo">
          <h4><%= t('projects.arduino.title') %></h4>
        </a>
      </header>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/arduino-1-a.jpeg.jpg" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.arduino.desc') %>

        </p>
      </div>

    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <header>
        <a class="todo" href="#todo">
          <h4><%= t('projects.bitcoin.title') %></h4>
        </a>
      </header>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="/images/content/projects/bitcoin2.jpeg.jpg" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.bitcoin.desc') %>

        </p>
      </div>
      </a>
    </article>
  </div>
  <div class="project-wrapper four">
    <article class="project">
      <header>
        <a class="todo" href="#todo">
          <h4><%= t('projects.makak.title') %></h4>
        </a>
      </header>
      <div class="body">
        <a class="todo" href="#todo">
          <img src="http://placekitten.com/215/125" width="215" height="133" />
          <span class="img-bg"></span>
        </a>
        <p>
          <%= t('projects.makak.desc') %>

        </p>
      </div>

    </article>
  </div>
  <div class="reset">&nbsp;</div>
</section>