<section id="projects" class="clearfix">
  <h3><%= t('projects.title') %></h3>
  <div class="project-wrapper">
    <article class="project">
      <h4><%= link_to @owasp_page.title, @owasp_page.url %></h4>
      <div class="body">
        <%= link_to refinery.url_for @owasp_page.url do %>
          <img src="/assets/content/projects/owasp_logo2.jpeg.jpg" alt="OWASP" width="215" height="133" />
          <span class="img-bg"></span>
        <% end %>
        <p>
          <%= t('projects.owasp.desc') %>
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <h4><%= link_to @hardware_page.title, @hardware_page.url %></h4>
      <div class="body">
        <%= link_to refinery.url_for @hardware_page.url do %>
          <img src="/assets/content/projects/arduino-1-a.jpeg.jpg" alt="ARDUINO" width="215" height="133" />
          <span class="img-bg"></span>
        <% end %>
        <p>
          <%= t('projects.arduino.desc') %>
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper">
    <article class="project">
      <h4><%= link_to @bitcoin_page.title, @bitcoin_page.url %></h4>
      <div class="body">
        <%= link_to refinery.url_for @bitcoin_page.url do %>
          <img src="/assets/content/projects/bitcoin2.jpeg.jpg" alt="Bitcoin" width="215" height="133" />
          <span class="img-bg"></span>
        <% end %>
        <p>
          <%= t('projects.bitcoin.desc') %>
        </p>
      </div>
    </article>
  </div>
  <div class="project-wrapper four">
    <article class="project">
      <h4><%= link_to @records_page.title, @records_page.url %></h4>
      <div class="body">
      <%= link_to refinery.url_for @records_page.url do %>
          <img src="/assets/content/projects/maciatko.jpeg" alt="Video archive ilustration" width="215" height="133" />
          <span class="img-bg"></span>
        <% end %>
        <p>
          <%= t('projects.videoarchive.desc') %>
        </p>
      </div>
    </article>
  </div>
</section>