<div id="hgroup">
  <% if is_homepage?() %>
    <h1 id="logo"><span class="ir"><%= RefinerySetting.find_or_set(:site_name, "Company Name") %></span></h1>
  <% else %>
    <strong id="logo">
      <% link_to root_path do %>
        <span class="ir"><%= RefinerySetting.find_or_set(:site_name, "Company Name") %></span>
      <% end  %>
    </strong>
  <% end %>
</div>
<div id="nav-holder">
  <nav id="lang">
    <%= link_to_if(!is_lang?('sk'), 'SlovenÄina', '/') %><span class="delim">&nbsp;|&nbsp;</span><%= link_to_if(!is_lang?('en'), 'English', url_for(:locale => 'en')) %>
  </nav>
<% form_tag search_url, :method => 'GET', :id => 'search-form' do -%>

<%= link_to t('.join-us'), url_for('/join-us'), :id => 'join-us', :class => 'button' unless is_homepage? %>
<%= search_field_tag :query, {}, {:type => 'search',
                   :placeholder => t('Search site for...'),
                   :class => 'text search',
                   :required => 'required',
                   :value => (params[:query] if params[:query])} %>
<%= image_submit_tag('/images/design/search-dark.png', :class => 'search-button') %>
<% end %>
  <%= render :partial => "/shared/menu",
    :locals => {
    :dom_id => 'menu',
    :css => 'menu'
  } -%>
</div>
<%= render :partial => "/shared/promo" if is_homepage? -%>