<div id="hgroup">
  <% if is_homepage?() %>
    <h1 id="logo"><span class="ir"><%= RefinerySetting.find_or_set(:site_name, "Company Name") %></span></h1>
  <% else %>
    <strong id="logo">
      <% link_to root_path do %>
        <span class="ir"><%= RefinerySetting.find_or_set(:site_name, "Company Name") %></span>
      <% end  %>
    </strong>
  <% end %>
</div>
<div id="nav-holder">
  <nav id="lang">
    <%= link_to t('.join_us'), url_for('/join-us'), :id => 'join-us'  %>
    <%= link_to_if(!is_lang?('sk'), 'SlovenÄina', '/') %><span class="delim">&nbsp;|&nbsp;</span><%= link_to_if(!is_lang?('en'), 'English', url_for(:locale => 'en')) %>
  </nav>
  <%= render :partial => '/shared/search_form' %>
  <%= render :partial => '/shared/menu',
    :locals => {
    :dom_id => 'menu',
    :css => 'menu'
  } -%>
</div>