<section id="promo">
  <div id="promo-content">
    <div id="promo-what" class="promo-item promo-item-1">
      <span class="promo-text-bg-1">&#160;</span>
      <div class="promo-text-1">
        <h2><%= t('.welcome_on_site') %></h2>
        <p><%= raw t('.first_slovak_hackerspace') %><br /><strong>progressbar.sk</strong>
        </p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/1<%= ['a', 'b'].sample %>.jpg" />
    </div>
    <div id="promo-why" class="promo-item promo-item-2">
      <span class="promo-text-bg-2">&#160;</span>
      <div class="promo-text-2">
        <p><%= raw t('.we_are') %></p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/2.jpg" />
    </div>
    <div id="promo-where" class="promo-item promo-item-3">
      <span class="promo-text-bg-3">&#160;</span>
      <div class="promo-text-3">
        <p><%= raw t('.we_are_located') %>
        </p>
      </div>
      <img alt="promo ilustration 3" class="promo-img" src="/images/content/promo/3.jpg" />
    </div>
    <div id="promo-more" class="promo-item promo-item-4">
      <span class="promo-text-bg-4">&#160;</span>
      <div class="promo-text-4">
        <p><%= raw t('.interesting_lectures') %></p>
        <p><%= raw t('.we_try_to_by_open_and_free') %>
        </p>
      </div>
      <img alt="promo ilustration" class="promo-img" src="/images/content/promo/4.jpg" />
    </div>
    <span class="img-bg">&nbsp;</span>
  </div>
  <nav id="promo-nav">
    <a href="#promo-what">
      <span class="symbol">α</span>
      <%= t('.what') %></a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-why">
      <span class="symbol">ω</span>
      <%= t('.what') %></a>
    <span class="delim">&#160;|&#160;</span>

    <a href="#promo-where">
      <span class="symbol">×</span>
      <%= t('.where') %></a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-more">
      <span class="symbol">&gt;</span>
      <%= t('.more') %></a>
  </nav>
  <div id="promo-action">
    <a href="/join-us" class="button large" id="join-us-btn"><%= t('.join_to_us') %></a> <%= t('.or') %>
    <a class="button greenno large" id="support-us-btn" href="/podporte-nas"><%= t('.support_us') %></a>
  </div>

  <div class="reset">&#160;</div>
</section>