<section id="promo">
  <div id="promo-content">
    <div id="promo-what" class="promo-item promo-item-1">
      <div class="promo-text">
        <p><%= t('.welcome_on_site') %><br />
<%= raw t('.first_slovak_hackerspace') %><br /><strong>progressbar.sk</strong>
        </p>
      </div>
      
    </div>
    <div id="promo-why" class="promo-item promo-item-2">
      <div class="promo-text">
        <p><%= raw t('.we_are') %></p>
      </div>
     
    </div>
    <div id="promo-where" class="promo-item promo-item-3">
      <div class="promo-text">
        <p><%= raw t('.we_are_located') %>
        </p>
      </div>
     
    </div>
    <div id="promo-more" class="promo-item promo-item-4">
      <div class="promo-text">
        <p><%= raw t('.interesting_lectures') %></p>
        <p><%= raw t('.we_try_to_by_open_and_free') %>
        </p>
      </div>
      
    </div>
    <span class="img-bg">&nbsp;</span>
  </div>
  <nav id="promo-nav">
    <a href="#promo-what">
      <span class="symbol">α</span>
      <%= t('.what') %></a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-why">
      <span class="symbol">ω</span>
      <%= t('.what') %></a>
    <span class="delim">&#160;|&#160;</span>

    <a href="#promo-where">
      <span class="symbol">×</span>
      <%= t('.where') %></a>
    <span class="delim">&#160;|&#160;</span>
    <a href="#promo-more">
      <span class="symbol">&gt;</span>
      <%= t('.more') %></a>
  </nav>
  <div id="promo-action">
    <a href="<%= url_for(@join_us_page.url) %>" class="button large" id="join-us-btn"><%= t('.join_to_us') %></a> <%= t('.or') %>
    <a class="button greenno large" id="support-us-btn" href="<%= url_for(@join_us_page.url) %>#supporter"><%= t('.support_us') %></a>
  </div>

  <div class="reset">&#160;</div>
</section>