<% content_for :body_content_left do %>
  <h2 id="new">Mám záujem zorganizovať akciu v Progressbare:</h2>
  <ul style="font-size: 14px;">
    <li>Vyplň nižšie uvedený formulár.</li>
    <li><strong>Nezadbudni napísať základné informácie</strong>, ako predpokladaný <strong>dátum</strong>, <strong>počet ľudí</strong>, špeciálne požiadavky.</li>
    <li>V krátkom čase Ťa budeme kontaktovať späť a v prípade,
      že bude možné danú akciu uskutočniť radi pomôžeme s organizáciou.</li>
  </ul>
  <div class="inquiries">
    <%= form_for @inquiry do |f| %>
      <%= render :partial => '/shared/admin/error_messages',
        :locals => {
        :object => @inquiry,
        :include_object_name => true
      } %>
      <div class="field">
        <%= f.required_label(:name, 'Tvoje meno', :class => 'placeholder-fallback') %>
        <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => 'Tvoje meno' %>
      </div>
      <div class="field">
        <%= f.required_label :email, 'Kontaktný e-mail', :class => 'placeholder-fallback' %>
        <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => 'Kontaktný e-mail' %>
      </div>
      <div class='field message_field'>
        <%= f.required_label :message, 'Detaily akcie', :class => 'placeholder-fallback' %>
        <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => 'Detaily akcie' %>
      </div>
      <div class="actions">
        <%= f.submit 'Odoslať' %>
      </div>
    <% end %>
  </div>
  <hr />
  <%= raw @page.content_for(Page.default_parts.first.to_sym) %>
<% end %>
<%= render :partial => '/shared/content_page' %>