<section id="body_content"  class="no_body_content_left">
  <section id="promo">
    <div id="promo-content">
      <div id="promo-what" class="promo-item promo-item-1">
        <span class="promo-text-bg-1">&#160;</span>
        <div class="promo-text-1">
          <h2>Vitajte na stránkach</h2>
          <p>prvého slovenského hackerspace <br /><strong>progressbar.sk</strong>
          </p>
        </div>
        <img alt="promo ilustration" class="promo-img" src="/images/content/promo/1<%= ['a', 'b'].sample %>.jpg" />
      </div>
      <div id="promo-why" class="promo-item promo-item-2">
        <span class="promo-text-bg-2">&#160;</span>
        <div class="promo-text-2">
          <p><strong>Sme</strong> prvým fyzickým priestorom v <strong>Bratislave</strong> pre stretávanie <strong>hackerov</strong>,
            <br />digitálnych <strong>umelcov</strong>, geekov, hardvérových <strong>mágov</strong>

            <br />a <strong>podobne</strong> zmýšľajúcich <strong>ľudí</strong>. </p>
        </div>
        <img alt="promo ilustration" class="promo-img" src="/images/content/promo/2.jpg" />
      </div>
      <div id="promo-where" class="promo-item promo-item-3">
        <span class="promo-text-bg-3">&#160;</span>
        <div class="promo-text-3">
          <p><a href="/contact">Nachádzame sa v centre <strong>Bratislavy</strong>
              <br /> na <strong>Cukrovej 14</strong>, blízko medickej záhrady<br /> a autobusovej stanice <strong>Mlynské Nivy</strong>.</a>
          </p>
        </div>
        <img alt="promo ilustration" class="promo-img" src="/images/content/promo/3.jpg" />
      </div>
      <div id="promo-more" class="promo-item promo-item-4">
        <span class="promo-text-bg-4">&#160;</span>
        <div class="promo-text-4">
          <p>Pravidelne sa u nás konajú zaujímavé prednášky, <br />workshopy a stretnutia rôznych komunít.</p>
          <p>Snažíme sa byť maximálne otvorení a vítame nových aktívnych členov, <br />
            prídite na jednu z našich stretávok alebo akcií. <br />
            Väčšina akcií Progressbaru je zadarmo.
          </p>
        </div>
        <img alt="promo ilustration" class="promo-img" src="/images/content/promo/4.jpg" />
      </div>
    </div>
    <nav id="promo-nav">
      <a href="#promo-what">
        <span class="symbol">α</span>
			Čo</a>
      <span class="delim">&#160;|&#160;</span>
      <a href="#promo-why">
        <span class="symbol">ω</span>
			Prečo</a>
      <span class="delim">&#160;|&#160;</span>

      <a href="#promo-where">
        <span class="symbol">×</span>
			Kde</a>
      <span class="delim">&#160;|&#160;</span>
      <a href="#promo-more">
        <span class="symbol">&gt;</span>
			Viac</a>
    </nav>
    <div id="promo-action">
      <a href="/pridaj-sa" class="button large">Pridaj sa k nám&#160;»</a>
      <a class="button greenno large" id="support" href="/podporte-nas">Podporte nás!</a>
    </div>

    <div class="reset">&#160;</div>
  </section>
    <% page_calendar = Page.find('calendar') %>
    <%
      
      @calendar_items = Event.where(['end_at >= ? OR start_at >= ?', Time.now, Time.now])
    
    %>
  
  <section id="calendar">
    <header>
      <h3><%= link_to(t('calendar.title'), page_calendar.url) %>
      </h3>
    </header>
    <div class="content">
      <% if @calendar_items.any? %>
        <% @calendar_items.each do |event| %>
      <p>
        <span class="datetime"><%= event.start_at %></span>
        <% event.categories.each do |ev_cat|  %>
          <span class="category"><%= ev_cat.name %></span>
        <% end if event.categories.any? %>
        <span class="title"><%= event.title %></span>
      </p>
        <% end %>
      <% end %>
    </div>
    <footer>
      <div class="float-left">
        <a href="#sorry-not-working-now"><img alt="ICal icon" src="/images/s.gif" class="sprites sprite-icon-ical-32" /> ICal</a>
      </div>
      <div class="float-right">
        <%= link_to(t('calendar.full_schedule'), page_calendar.url) %>
      </div>
      <div class="reset">&#160;</div>
    </footer>
  </section>
  <section id="blogs">
    <% 

      page_blog = Page.find('blog')
      @blog_posts = BlogPost.live.paginate({
        :page => 1,
        :per_page => 3
      }) %>
    <header>
      <h3><%= link_to(t('blogs.title'), page_blog.url) %>
      </h3>
    </header>
     <div class="content">
      <% if @blog_posts.any? %>
        <% @blog_posts.each do |post| %>
          <div>
            <%= link_to blog_post_url(post), :class => 'il' do -%>
              <img alt="ilustration" src="/images/content/blogs/<%= post.id %>_t.jpg" />
            <% end %>
            <h4>
              <%= link_to blog_post_url(post) do -%>
                <%= truncate post.title,
                  :length => 75,
                  :preserve_html_tags => false %>
              <% end %>
            </h4>
            
              <%= truncate post.body,
                :length => 160,
                :preserve_html_tags => true %>
            
          </div>
        <% end %>
      <% end %>
    </div>
    <footer>
      <div class="float-left">
        <a href="/blog/feed.rss"><img alt="RSS icon" src="/images/s.gif" class="sprites sprite-icon-rss-32" /> RSS</a>
      </div>
      <div class="float-right">
        <%= link_to(t('blogs.archive_posts'), page_blog.url) %>
      </div>
      <div class="reset">&#160;</div>
    </footer>
  </section>
  <div class="reset">&#160;</div>
</section>
