<section id="body_content" class="no_body_content_left">
  <section id="calendar">
    <header>
      <h3><%= link_to(t('calendar.title'), @page_calendar.url, :class => 'float-left') %> <span class="delim">&nbsp;-&nbsp;</span><em title="Dnes je: <%= Time.now.strftime("%d.%m.%Y") %>"><%= Time.now.strftime("%U") %> <%= t('calendar.week') %></em>
        <span class="reset">&nbsp;</span>
      </h3>
    </header>
    <div class="content">
        <ul>
      <% @events_in_week.each do |day| %>

            <li><%= t("calendar.#{day['day'].strftime("%A").to_s.downcase}") %><br />
                <p>
                <% if day['events'].any? %>
                  <% day['events'].each do |event| %>
                    <span class="datetime"><%= event_start_datetime(event, day['day']) %></span> <span class="delim">&nbsp;-&nbsp;</span>
                    <span class="datetime"><%= event_end_datetime(event, day['day']) %></span>
                    <% if event.categories.any?  %>
                    <span class="categories">
                      <% event.categories.each do |ev_cat|  %>
                        <span class="category <%= to_slug(ev_cat.name.downcase) %>"><%= link_to ev_cat.name.downcase, category_events_path(ev_cat) %></span><% unless event.categories.last() == ev_cat %>, <% end %>
                      <% end %>
                      </span>
                    <% end %>
                    <a href="#"><span class="title"><%= event.title %></span></a>
                  <% end %>
                <% else %>
                    <abbr title="<%= t('calendar.explain_no_official_event') %>"><%= t('calendar.no_official_event') %></abbr>
                  <% if day['day'].day > Time.now.day %>
                    <%= mail_to 'info@progressbark.s', t('calendar.organize_action'), :title => t('calendar.organize_action_explanation'), :class => 'float-right', :subject => t('calendar.organize_action_email_subject', :day => day['day'].strftime("%d.%m.%Y")), :body => t('calendar.organize_action_email_body', :day => day['day'].strftime("%d.%m.%Y")) %>
                  <% end %>
                <% end %>
                <span class="reset">&nbsp;</span>
                </p>
            </li>


      <% end %>
        </ul>
    </div>
    <footer>
      <div class="float-left">
        <a href="/events.rss"><img alt="rss icon" src="/images/s.gif" class="sprites sprite-icon-rss-32" /> Calendar RSS</a>
      </div>
      <div class="float-right">
        <%= link_to(t('calendar.full_schedule'), @page_calendar.url) %>
      </div>
      <div class="reset">&#160;</div>
    </footer>
  </section>
  <section id="blogs">
    <header>
      <h3><%= link_to(t('blogs.title'), @page_blog.url) %>
      </h3>
    </header>
     <div class="content">
      <% if @blog_posts.any? %>
        <% @blog_posts.each do |post| %>
          <div>
            <%= link_to blog_post_url(post), :class => 'il' do -%>
              <img alt="ilustration" src="/images/content/blogs/<%= post.id %>_t.jpg" />
            <% end %>
            <h4>
              <%= link_to blog_post_url(post) do -%>
                <%= truncate post.title,
                  :length => 75,
                  :preserve_html_tags => false %>
              <% end %>
            </h4>

              <%= truncate post.body,
                :length => 160,
                :preserve_html_tags => true %>

          </div>
        <% end %>
      <% end %>
    </div>
    <footer>
      <div class="float-left">
        <a href="/blog/feed.rss"><img alt="RSS icon" src="/images/s.gif" class="sprites sprite-icon-rss-32" /> Blog RSS</a>
      </div>
      <div class="float-right">
        <%= link_to(t('blogs.archive_posts'), @page_blog.url) %>
      </div>
      <div class="reset">&#160;</div>
    </footer>
  </section>
  <div class="reset">&#160;</div>
</section>
