<h1 id="body_content_title"><%= t('.join_us_title') %></h1>
<div class="join-box left-half" id="member-promo">
  <header class="header">
    <h2><%= t('.member') %></h2>
    <div class="price">
      <strong>20 </strong>&euro; / <%= t('.month') %>
      <a href="#payments" class="discount"><%= raw t('.students_discounts') %></a>
    </div>
  </header>
  <div class="content">
    <ul >
      <li>
        <%= t('.opportunity_to_use_space_and_equipment') %>
      </li>
      <li><%= t('.discounts_on_various_items_and_purchases') %></li>
      <li><%= t('.discounts_on_international_conferences') %></li>
      <li><%= t('.involvement_in_the_running_progressbar') %></li>
      <li><%= t('.access_to_nonpublic_material_information') %></li>
      <li><a href="#member-description"><%= t('.and_much_more') %></a>
      </li>
    </ul>
  </div>
  <footer class="footer">
    <%= form_for @registration do |f| %>
      <% unless @registration.errors.blank? %>
    <div class="form-error">
      <% @registration.errors.each do |elm, msg| %>
        <p><%= t(elm.to_s) %> <%= msg %></p>
       <% end %>
    </div>
      <% end %>
      <div class="field">
        <%= f.label :username, t('.your_name'), :class => 'placeholder-fallback required' %>
        <%= f.text_field :username, :placeholder => t('.your_name'), :required => 'required', :class => 'required text' %>
      </div>
      <div class="field">
        <%= f.label :email, t('.email'), :class => 'placeholder-fallback required' %>
        <%= f.email_field :email, :placeholder => t('.email'), :required => 'required', :class => 'required email text' %>
      </div>
      <div class="field" style="width: 85%;">
        <%= f.label :personal_info, t('.personal_info'), :class => 'placeholder-fallback required' %>
        <%= f.text_area :personal_info, :placeholder => t('.personal_info'), :required => 'required', :class => 'required' %>
      </div>
      <%= f.submit t('.create_registration') %>
    <% end %>
  </footer>
</div>
<div class="join-box right-half" id="supporter-promo">
  <header class="header">
    <h2><%= t('.supporter') %>
    </h2>
    <div class="price">
			<%= t('.voluntary') %>
    </div>
  </header>
  <div class="content">
    <ul>
      <li><%= t('.no_commitments_and_obligations') %></li>
      <li><%= t('.any_type_height_and_form_of_aid') %></li>
      <li><%= t('.opportunity_to_become_an_active_member') %></li>
      <li><%= raw  t('.optional_registration_between_the_sponsors_and_supporters') %></li>
      <li><%= t('.feel_good') %></li>
      <li><%= raw t('.more_information_and_other_options') %></li>
    </ul>
  </div>
  <footer class="footer">
    <p>
      <%= t('.account_number') %>
		 2600121198/8330<br />
      <abbr title="<%= t('.for_payments_from_abroad') %>">IBAN</abbr>: SK1583300000002600121198<br />
		BIC/SWIFT: FIOZSKBAXXX</p>
    <p class="msg info note">
		<img class="ui-icon ui-icon-info" src="/images/s.gif" alt="info icon">
		<%= t('.for_membership_payment_enter_the_variable_as_a_symbol_of_their_membership_number') %>
	</p>
  
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHXwYJKoZIhvcNAQcEoIIHUDCCB0wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC80YQrFxuQWX86yOY7bgfIvDaoksL9nr4hS9dh2FBbroK1yIin/6iBh+HXnzyqtidQ49OmEEncFT0mJbhfUoR9gOPHEqHSH7dzU9P9tBtuh7iiclcQOBDTmcJfiRP/gLQBXaqIu6dFfKPLfhlNGErBwdJdgv+TnuRlhmMq2cZf9DELMAkGBSsOAwIaBQAwgdwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIECD7WeES8YeAgbhNwp54c7YAUeTdZ3Y4x+uddhHzAejW3AZ5ixSobLFGabTrxnqJyIi+2xMy0VxbaOE4Y2OxzSuRCgElMikDv1BmbdpcN0FZ21ifNDZFq248qzi65K0V9IE/iqaaIAkOrzqoMG6yU28Rh2L0J+5B21CK6GFIylLt4fmV9ExtIaT5kKTgbT/fioFKCOOttvOQdOchuBHe2cGriQ3iMEooalnQfwE/pXr4Q9ZHUGipc1MyDm1C+W5z/Yu4oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTEwODIwMTk0OTU5WjAjBgkqhkiG9w0BCQQxFgQUsIBvgPuSAwf8rTs/lZa3coJzjoYwDQYJKoZIhvcNAQEBBQAEgYAPU4Izi3iacypYYtgdWsh6qZSSxxJynMLocMXgPsmj9x3XEnoXR7ulrqsy7GJmq2gw7zAZ+djIB4FVyksgvsSFtdnIGZLqdzsS0cEGWAU1FRI11ei9DTHD/au/cAZJRuZptP2selX1fMeulFp2s5t60lwNFXcoQ2XLoe4aRSlqLQ==-----END PKCS7-----
">
<span class="notes"><%= t('.do_you_like_new_web') %> </span> <input type="submit" name="submit" class="button" value="<%= t('.support_web_development') %>" />
</form>

  </footer>
</div>
<div class="reset">&nbsp;</div>
<hr />

<%= raw @page.parts.first.body %>

