<!--
<% flash.each do |m, k| %>
  <div class="flash <%= m %>" >
    <%= k %>
  </div>
<% end %>
<div id="perex-wrapper">
  <div id="perex">
  <% perex = @page.content_for(:perex) %>
  <%= raw "<h1>#{@page.title}</h1>" if !perex or perex.empty? %>
  <%= raw "<div>#{perex}</div>" unless !perex or perex.empty? %>
  </div>
</div>
-->
<% hide_sections = [:body_content_title] %>
<%= render_content_page(@page, {
    #:hide_sections => local_assigns[:hide_sections],
    :hide_sections => local_assigns[:hide_sections],
    #:hide_sections => [:perex, :body_content_title],
    :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
  }) %>
<%= render :partial => '/refinery/draft_page_message' unless @page.nil? or @page.live? -%>
