<section id="follow-us">
  <div class="header">
    <h3><%= t('follow_us.title') %></h3>
  </div>
  <div class="content clearfix">
    <p>
      <a href="<%= Refinery::Setting.get(:site_twitter_link) %>"><img alt="Twitter" src="/s.gif" class="sprites sprite-icon-twitter-32" /></a>
      <a href="<%= Refinery::Setting.get(:site_facebook_link) %>"><img alt="Facebook" src="/s.gif" class="sprites sprite-icon-facebook-32" /></a>
      <a href="<%= Refinery::Setting.get(:site_foursquare_link) %>"><img alt="Foursquare" src="/s.gif" class="sprites sprite-icon-foursquare-32" /></a>
      <a href="<%= Refinery::Setting.get(:site_soup_link) %>"><img alt="Soup" src="/s.gif" class="sprites sprite-icon-soup-32" /></a>
      <a href="<%= Refinery::Setting.get(:site_github_link) %>" >
        <img alt="Github" src="/s.gif" class="sprites sprite-icon-github-32" />
      </a>
       <a href="<%= Refinery::Setting.get(:site_kyberia_link) %>" >
        <img alt="Kyberia" src="/s.gif" class="sprites sprite-icon-kyberia-32" title="kyberia" />
      </a>
    </p>
    <div id="feedback" ></div>
    <div id="membership-actions">
      <a href="/refinery/users/login">
        <img alt="Login" src="/assets/design/icons/member.png" style="vertical-align: middle">&nbsp;
        <%= t('login_member_section') %>
        </a>
      <a href="/pridaj-sa">&nbsp;
        <img alt="Registration" src="/assets/design/icons/arrow-2.png" style="vertical-align: middle">&nbsp;        
        <%= t('become_member') %>
      </a>
    </div>    
  </div>
</section>
<section id="mailing-list">
  <div class="header">
    <h3><%= t('title', :scope => 'refinery.mailinglists.subscribers.form') %></h3>
  </div>
  <div class="content">
    <%= render "/refinery/mailinglists/subscribers/form" %>
  </div>
</section>
<div id="license">
  <%= raw t('license_note') %>
</div>
<div id="copy">
  <%= t('.copyright', :year => Time.now.year,
    :site_name => Refinery::Core.site_name) %>,
  <%#= link_to(@colophon_page.title, @colophon_page) %>
</div>
<nav id='bottom-menu' class='menu clearfix'>
  <%= link_to(@home_page.title, @home_page.url) %> <span class="delim">&nbsp;|&nbsp;</span>
  <%= link_to(@contact_page.title, @contact_page.url) %> <span class="delim">&nbsp;|&nbsp;</span>
  <a href="#"><%= t('top') %>  &uarr;</a>
</nav>
