<div id="hgroup">
  <% if home_page? %>
    <h1 id="logo"><span class="ir"><%= Refinery::Core.site_name %></span></h1>
  <% else %>
    <strong id="logo">
      <%= link_to Refinery::Core.site_name, refinery.root_path, :class => 'ir' %>
    </strong>
  <% end %>
</div>
<div id="door-status">
<%= link_to(is_open? ? 'is open' : 'is closed', 'http://stats.progressbar.sk/#door-status', :class => (is_open? ? 'open' : 'closed')) %>

</div>
<div id="nav-holder">
  <nav id="lang">
    <%= link_to_if(!is_lang?('sk'), '<img class="flags-sprites sprite-icon-sk" src="/s.gif" alt="Slovenčina" >'.html_safe, '/', :title => 'Slovenská verzia') %><span class="delim">&nbsp;&nbsp;</span>
    <%= link_to_if(!is_lang?('en'), '<img class="flags-sprites sprite-icon-en" src="/s.gif" alt="English" >'.html_safe, '/en', :title => 'English version') %>
  </nav>
<%#= render :partial => '/shared/search_form' %>
  <%= render(:partial => "/refinery/menu", :locals => {
      :dom_id => 'menu',
      :css => 'menu'
    }) %>
</div>