<div id="hgroup">

  <% if home_page? %>
    <h1 id="logo"><span class="ir"><%= Refinery::Core.site_name %></span></h1>
  <% else %>
    <strong id="logo">
      <%= link_to Refinery::Core.site_name, refinery.root_path, :class => 'ir' %>
    </strong>
  <% end %>

</div>
<div id="header-features">
  <nav id="lang">
    <%= link_to('<img class="flags-sprites sprite-icon-sk" src="/s.gif" alt="Slovenčina" >'.html_safe, '/', :title => 'Slovenská verzia') if is_lang?('en') %>
    <%= link_to('<img class="flags-sprites sprite-icon-en" src="/s.gif" alt="English" >'.html_safe, '/en/', :title => 'English version') if is_lang?('sk') %>
  </nav>
  <div id="door-status">
  <%
    door_status = 'unknown'
    door_cls = ''
    door_title = "Last update #{@door_status.created_at}" if @door_status.present?
    if @door_status.present? && @door_status.created_at > 36.hours.ago
      door_status = @door_status.is_open? ? 'is open' : 'is closed'
      door_cls = 'highlight' if @door_status.is_open?
    end
  %>
    Door status: <%= link_to(door_status, '/api/door-status', :class => door_cls, :title => door_title) %>
  </div>
  <% if @today_event.present? %>
  <div id="today-event">
    <% evnt_cls = @today_event.featured? ? 'highlight' : '' %>
    Today: <%= link_to(@today_event.title, refinery.calendar_event_path(@today_event), :class => evnt_cls ) %>
  </div>
  <% end %>
  <% if @upcoming_event.present? %>
  <div id="upcoming-event">
    <% evnt_cls = @upcoming_event.featured? ? 'highlight' : '' %>
    Upcoming: <%= link_to(@upcoming_event.title, refinery.calendar_event_path(@upcoming_event), :class => evnt_cls ) %>
  </div>
  <% end %>

</div>

<div id="nav-holder" class="clear">
  <%#= render :partial => '/shared/search_form' %>
  <%#= render(:partial => "/refinery/menu", :locals => {
      :dom_id => 'menu',
      :css => 'menu clearfix'
    }) %>
    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>