<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => "/shared/head" %>
  <body class="no-js">
    <div id="outer-wrapper">
      <div id="container">
        <div id="header-wrapper">
          <div id="header">
            <%= render :partial => "/shared/header" %>
            <div class="reset">&nbsp;</div>
          </div>
        </div>
        <div id="content-wrapper" <%= " class='page-id-#{@page.id}' " if @page %>>
          <div id="content">
            <%= yield %>
            <% if Rails.env.production? %>
              <div id="like" >
                <div class="l">
                  <g:plusone size="tall"></g:plusone>
                </div>
                <div class="l">
                  <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical"></a>
                </div>
                <div class="l">
                  <script type="in/share" data-counter="top"></script>
                </div>
                <div class="l">
                  <fb:like href="<%= request.url %>" layout="box_count" show_faces="false" font="Arial"></fb:like>
                </div>
              </div>
            <% end %>
            <div class="reset">&nbsp;</div>
          </div>
        </div>
        <div id="footer-wrapper">
          <div id="footer">
            <%= render :partial => "/shared/footer" %>
            <div class="reset">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'jquery-1.6.1.min' %>
<%#= javascript_include_tag 'jquery-ui/js/jquery-ui-1.8.13.custom.min' unless is_homepage?() %>
    <%= javascript_include_tag 'jquery.scrollTo-1.4.2-min' %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.production? %>
      <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script>
    <% end %>
  </body>
</html>