<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => "/shared/head" %>
  <body class="no-js">
    <div id="outer-wrapper">
      <div id="container">
        <div id="header-wrapper">
          <div class="outer-cover">
            <div id="header">
              <%= render :partial => "/shared/header" %>
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="content-wrapper" <%= " class='page-id-#{@page.id}' " if @page %>>
          <div class="outer-cover">
            <div id="content" data-pjax-container="true">
              <% flash.each do |m, k| %>
                <div class="flash <%= m %>" >
                  <%= k %>
                </div>
              <% end %>

              <%= yield %>
              <div id="feedback">
                <a href="#like" id="feedback-btn"><%= t('feedback') %></a>
                
                <a href="#" id="like-btn"><%= t('share_with_friends') %></a>         
                <div style="display:none;"><div id="like" style="color:red;">you like me , like me you, me like you</div></div>
                
              </div>
             
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="footer-wrapper">
          <div class="outer-cover">
            <div id="footer">
              <%= render :partial => "/shared/footer" %>
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>      
  </body>
</html>
