<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => "/shared/head" %>
  <body class="no-js">
    <div id="outer-wrapper">
      <div id="container">
        <div id="header-wrapper">
          <div class="outer-cover">
            <div id="header">
              <%= render :partial => "/shared/header" %>
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="content-wrapper" <%= " class='page-id-#{@page.id}' " if @page %>>
          <div class="outer-cover">
            <div id="content" data-pjax-container="true">
              <% flash.each do |m, k| %>
                <div class="flash <%= m %>" >
                  <%= k %>
                </div>
              <% end %>

              <%= yield %>
            <div id="like" >
              <a href="#">Share with friends</a>
              <div class="buttons-holder">
                <span class="l">
                  <g:plusone size="tall" count="false" ></g:plusone>
                </span>
                <span class="l">
                  <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical"></a>
                </span>
                <!--
                <span class="l">
                  <script type="in/share" data-counter="top"></script>
                </span>
                <span class="l">
                  <fb:like href="<%= request.url %>" layout="box_count" show_faces="false" font="Arial"></fb:like>
                </span>
                -->

              </div>
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="footer-wrapper">
          <div class="outer-cover">
            <div id="footer">
              <%= render :partial => "/shared/footer" %>
              <div class="reset">&nbsp;</div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'jquery-1.6.1.min' %>
<%#= javascript_include_tag 'jquery-ui/js/jquery-ui-1.8.13.custom.min' unless is_homepage?() %>
    <%= javascript_include_tag 'jquery-ui/js/jquery-ui-1.8.13.custom.min' %>
    <%= javascript_include_tag 'jquery.fancybox-1.3.4' %>
    <%= javascript_include_tag 'jquery.scrollTo-1.4.2-min' %>
<%#= javascript_include_tag 'jquery.pjax' %>
    <%= javascript_include_tag 'application' %>      
  </body>
</html>
