<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<%= render '/refinery/head' %>
<body>
  <div id="page_container">
    <div id="header-wrapper">
      <div class="outer-cover">
        <header id="header" class="clearfix">
          <%= render '/refinery/header' -%>
        </header>
      </div>
    </div>
    <div id="page-wrapper">
      <div class="outer-cover">
        <section id="page" class="clearfix">
          <%= yield %>
        </section>
      </div>
    </div>
    <div id="footer-wrapper">
      <div class="outer-cover">
        <footer id="footer" class="clearfix">
          <%= render '/refinery/footer' -%>
        </footer>
      </div>
    </div>
  </div>
  <%= render '/refinery/javascripts' %>
</body>
</html>
