<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render :partial => "/shared/head" %>
  <body class="no-js">
    <div id="outer-wrapper">
      <div id="container">
        <div id="header-wrapper">
          <div class="outer-cover">
            <div id="header">
              <%= render :partial => "/shared/header" %>
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="content-wrapper" <%= " class='page-id-#{@page.id}' " if @page %>>
          <div class="outer-cover">
            <div id="content" data-pjax-container="true">
              <% flash.each do |m, k| %>
                <div class="flash <%= m %>" >
                  <%= k %>
                </div>
              <% end %>

              <%= yield %>
              
              <div class="reset">&nbsp;</div>
              
              <div id="feedback">
                <a href="https://docs.google.com/spreadsheet/viewform?hl=en_GB&amp;formkey=dHBPbTMwOHBvMzZVLVEzM09wanh0WEE6MQ" id="feedback-btn"><%= t('feedback') %></a>
                <a href="#" id="share-btn"><%= t('share_with_friends') %></a>         
              </div>
             
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
        <div id="footer-wrapper">
          <div class="outer-cover">
            <div id="footer">
              <%= render :partial => "/shared/footer" %>
              <div class="reset">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%= javascript_include_tag %w(jquery-1.6.2.min jquery.fancybox-1.3.4.pack jquery.mousewheel-3.0.4.pack jquery.scrollTo-1.4.2-min), :cache => Rails.env.production? %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' unless is_homepage? %> 
    <%= javascript_include_tag 'application' %> 
<% unless local_request? or refinery_user? -%>
<script>var _gaq=[['_setAccount','UA-25240234-1'],['_trackPageview'],['_trackPageLoadTime'], ['_setDomainName', 'progressbar.sk'], ['_setAllowHash', false]];(function(d,t){
var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)
}(document,'script'))</script>
<% end -%>
  </body>
</html>
